/* common styles */
body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
a {
    text-decoration: none;
    transition: all 0.2s ease-in;
}
a:hover,
a:active,
a:focus {
    transition: all 0.1s ease-out;
}
img {
    max-width: 100%;
    height: auto;
}
/* icons */
@font-face {
    font-family: 'test-icons';
    src:url('../fonts/test-icons.eot?-g9e7qh');
    src:url('../fonts/test-icons.eot?#iefix-g9e7qh') format('embedded-opentype'),
    url('../fonts/test-icons.ttf?-g9e7qh') format('truetype'),
    url('../fonts/test-icons.woff?-g9e7qh') format('woff'),
    url('../fonts/test-icons.svg?-g9e7qh#test-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon {
    font-family: 'test-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-magnifying-glass29:before {
    content: "\e600";
}
.icon-phone325:before {
    content: "\e601";
}
/* main styles */
header {
    padding: 20px 0;
    background: #0075b2;
}
.header-container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-inner {
    display: table;
    width: 100%;
}
.logo {
    display: table-cell;
    width: 30%;
    text-align: left;
}
.logo a {
    display: block;
}
.contact {
    display: table-cell;
    width: 70%;
    text-align: right;
    vertical-align: middle;
}
.contact li {
    display: inline-block;
}
.contact li a {
    display: block;
    color: #fff;
    padding-left: 20px;
}
.contact-xs {
    display: none;
    max-width: 50px;
    width: 100%;
    height: auto;
}
.contact-xs a {
    display: inline-block;
}
.contact-xs .icon {
    font-size: 40px;
    color: #fff;
}
article {
    width: 100%;
}
section {
    overflow: hidden;
    float: right;
    width: 80%;
}
aside {
    float: left;
    width: 20%;
    padding: 20px;
}
.accordion {
    width: 100%;
    background-color: #0075b2;
    opacity: 1;
}
.accordion > label {
    display: block;
}
.rotate {
    padding:0;
    margin:0;
    line-height:20px;
    width:13px;
    position:absolute;
    left: 10px;
    transition: all .3s ease;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid #fff;
}
.accordion > input {
    display: none;
}
.accordion > div {
    max-height: 0;
    overflow: hidden;
}
.accordion > input:checked + label + div {
    max-height: 500px;
}
.accordion > div > * {

}
.accordion > input:checked + label {
    background-color: #0075b2;
}
.accordion > label {
    background-color: #0075b2;
    opacity: 1;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 10px 8px 30px;
    position: relative;
}
input[name='accordion-inner'] ~ label {
    border-top: none;
    border-bottom: none;

}
input[name='accordion-inner'] ~ label ~ div {
    border-bottom: none;
    padding-left: 60px;
}
input[name='accordion-inner'] ~ label ~ div a {
    color: #fff;
    font-size: .9em;
}
.accordion > div {
    transition: all ease-in-out .3s;
    padding-left: 10px;
}
input[name='accordion-inner'] ~ .rotate, input[name='accordion'] ~ .rotate {
    transform: rotate(0deg);
    margin-top: 0;
}

input[name='accordion-inner']:checked ~ label .rotate, input[name='accordion']:checked ~ label .rotate {
    transform: rotate(90deg);
    margin-top: 4px;
}
#menu {
    display: block;
}
#open-menu {
    display: none;
    font-size: 40px;
    color: #fff;
    margin-left: 20px;
}
.content {
    padding: 20px;
    position: relative;
}
.card-item {
    float: left;
    position: relative;
    max-width: 290px;
    width: 100%;
    border-radius: 10px;
    color: #009fe3;
    border: 2px solid #009fe3;
    padding: 10px;
    margin: 20px;
}
.card-item h3 {
    font-size: 24px;
    text-align: center;
}
.card-item img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.card-item p {
    font-size: 12px;
}
.card-item .card-btn {
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid transparent;
    color: #fff;
    background: #009fe3;
    display: block;
    float: right;
    text-align: center;
    padding: 10px 35px;
    transition: .3s all;
}
.card-item .card-btn:hover {
    border: 2px solid #009fe3;
    color: #009fe3;
    background: #fff;
}
.search-block {
    width: 100%;
    margin: 0 0 30px;
    font-size: 16px;
}
.search-block input {
    width: 80%;
    line-height: 2em;
    padding: 3px 20px;
}
#search-btn {
    width: 18%;
    line-height: 2em;
    text-transform: uppercase;
    padding: 3px 20px;
    color: #fff;
    background: #0075b2;
    border: 2px solid transparent;
    transition: .3s all;
}
#search-btn:hover, #search-btn:focus {
    color: #0075b2;
    background: #fff;
    border: 2px solid #0075b2;
}
/* media queries */
@media screen and (max-width: 768px) {
    #open-menu {
        display: inline-block;
        text-align: right;
    }
    #menu {
        display: none;
        width: 100%;
        transition: .5s all;
    }
    aside, section {
        width: 100%;
        float: none;
    }
}
@media screen and (max-width: 480px) {
    .contact {
        display: none !important;
    }
    .contact-xs {
        display: table-cell !important;
        width: 70%;
        text-align: right;
        vertical-align: middle;
    }
    .card-item {
        width: 100%;
        float: none;
        margin: 0 0 30px 0;
    }
    .search-block input {
        width: 76%;
    }
    #search-btn {
        padding: 3px;
        width: 22%;
    }
}

@media (min-width: 320px) {
    .header-container {
        width: 100%;
    }
}
@media (min-width: 480px) {
    .header-container {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .header-container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .header-container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .header-container {
        width: 1170px;
    }
}